.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #780806;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: #f9fafb;
  z-index: 10;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-left: 400px;
}

.nav-link {
  color: #f9fafb;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #f85240;
}

.nav-search {
  display: flex;
  align-items: center;
}

.search-input {
  width: 310px;
  height: 40px;
  border: none;
  border-radius: 35px;
  padding: 0 1rem;
  font-size: 1rem;
  color: white;
  background-color: brown;
  outline: none;
  margin-right: 380px;
  transition: box-shadow 0.2s;
}

.search-input::placeholder {
  color: #9ca3af;
}

.search-icon {
  position: absolute;
  margin-left: 270px;
  color: white;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .navbar {
    height: 3.5rem;
    padding: 0 0.8rem;
  }

  .nav-links {
    gap: 1rem;
  }

  .search-input {
    width: 200px;
  }
}
